#算法配置
menu "Algorithm Configuration"
config _BOS_ALGO_ENABLE
    bool "Algorithm Enable/Disable"
    default y

config _ALGO_BASE64_ENABLE
    bool "Algorithm base64 Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE

config _ALGO_SHA1_ENABLE
    bool "Algorithm SHA1 Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE


config _ALGO_SORT_ENABLE
    bool "Algorithm Sort Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE


config _ALGO_UNICODE_ENABLE
    bool "Algorithm Unicode Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE


config _ALGO_MD5_ENABLE
    bool "Algorithm MD5 Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE


config _ALGO_CRC_ENABLE
    bool "Algorithm CRC Enable/Disable"
    default n
    depends on _BOS_ALGO_ENABLE

config _ALGO_CRC8_ENABLE
    bool "Algorithm CRC8 Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC8_ITU_ENABLE
    bool "Algorithm CRC8-ITU Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC8_ROHC_ENABLE
    bool "Algorithm CRC8-ROHC Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC8_MAXIM_ENABLE
    bool "Algorithm CRC8-MAXIM Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_IBM_ENABLE
    bool "Algorithm CRC16-IBM Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_MAXIM_ENABLE
    bool "Algorithm CRC16-MAXIM Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_USB_ENABLE
    bool "Algorithm CRC16-USB Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_MODBUS_ENABLE
    bool "Algorithm CRC16-MODBUS Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_CCITT_ENABLE
    bool "Algorithm CRC16-CCITT Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_CCITT_FALSE_ENABLE
    bool "Algorithm CRC16-CCITT_FALSE Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_X25_ENABLE
    bool "Algorithm CRC16-X25 Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_XMODEM_ENABLE
    bool "Algorithm CRC16-XMODEM Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC16_DNP_ENABLE
    bool "Algorithm CRC16-XDNP Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC32_ENABLE
    bool "Algorithm CRC32 Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

config _ALGO_CRC32_MPEG2_ENABLE
    bool "Algorithm CRC32-MPEG2 Enable/Disable"
    default n
    depends on _ALGO_CRC_ENABLE

endmenu
