# Algorithm Configuration
menu "Algorithm Configuration"

config _BOS_ALGO_ENABLE
    bool "Algorithm Enable/Disable"
    default y

#======================================== Base64 ========================================
config _ALGO_BASE64_ENABLE
    bool "Base64 Encode/Decode"
    default n
    depends on _BOS_ALGO_ENABLE

#======================================== SHA1 ========================================
config _ALGO_SHA1_ENABLE
    bool "SHA1"
    default n
    depends on _BOS_ALGO_ENABLE

#======================================== Sort ========================================
config _ALGO_SORT_ENABLE
    bool "Sort Algorithm"
    default n
    depends on _BOS_ALGO_ENABLE

#======================================== Unicode ========================================
config _ALGO_UNICODE_ENABLE
    bool "Unicode"
    default n
    depends on _BOS_ALGO_ENABLE

#======================================== MD5 ========================================
config _ALGO_MD5_ENABLE
    bool "MD5"
    default n
    depends on _BOS_ALGO_ENABLE

#======================================== CRC ========================================
config _ALGO_CRC_ENABLE
    bool "CRC Algorithms"
    default n
    depends on _BOS_ALGO_ENABLE

if _ALGO_CRC_ENABLE

config _ALGO_CRC8_ENABLE
    bool "CRC8"
    default n

config _ALGO_CRC8_ITU_ENABLE
    bool "CRC8-ITU"
    default n

config _ALGO_CRC8_ROHC_ENABLE
    bool "CRC8-ROHC"
    default n

config _ALGO_CRC8_MAXIM_ENABLE
    bool "CRC8-MAXIM"
    default n

config _ALGO_CRC16_IBM_ENABLE
    bool "CRC16-IBM"
    default n

config _ALGO_CRC16_MAXIM_ENABLE
    bool "CRC16-MAXIM"
    default n

config _ALGO_CRC16_USB_ENABLE
    bool "CRC16-USB"
    default n

config _ALGO_CRC16_MODBUS_ENABLE
    bool "CRC16-MODBUS"
    default n

config _ALGO_CRC16_CCITT_ENABLE
    bool "CRC16-CCITT"
    default n

config _ALGO_CRC16_CCITT_FALSE_ENABLE
    bool "CRC16-CCITT-FALSE"
    default n

config _ALGO_CRC16_X25_ENABLE
    bool "CRC16-X25"
    default n

config _ALGO_CRC16_XMODEM_ENABLE
    bool "CRC16-XMODEM"
    default n

config _ALGO_CRC16_DNP_ENABLE
    bool "CRC16-DNP"
    default n

config _ALGO_CRC32_ENABLE
    bool "CRC32"
    default n

config _ALGO_CRC32_MPEG2_ENABLE
    bool "CRC32-MPEG2"
    default n

endif

endmenu